@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

html, body {
  width: 100%;
  height: 100%;
  background: gainsboro;
  min-width: 310px;
  min-height: 310px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.fh {
  height: 100%;
}

.btn-unstyled {
  background: transparent;
  border: 0;
  box-shadow: 0;
  outline: none;
}

.gutterless {
  margin: 0;
}

.pgutterless {
  padding: 0;
}

.bordered {
  border: 1px solid;
}

.display-inline {
  display: inline-block;
}

.vmid {
  vertical-align: middle;
}

.no-float {
  float: none !important;
}

.actionable, #sidebar #menuList .menu-link, #menuToggle {
  cursor: pointer;
}

.vcenter:before {
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.input-group-separate-btn {
  padding: 0 0 0 5px;
}

.notif-alert {
  position: relative;
}
.notif-alert:after {
  content: "5";
  position: absolute;
  right: -10px;
  top: -10px;
  background: orange;
  min-width: 25px;
  height: auto;
  width: auto;
  border-radius: 20px;
  padding: 2px 3px;
  text-align: center;
  font-size: 87.5%;
  overflow: hidden;
  color: #222;
}

.tab-pane {
  padding: 15px;
}
.tab-pane label {
  font-size: 80%;
}

.nav-tabs li {
  text-transform: uppercase;
}

/* Top button area styling */
.controls{
  padding: 0 0 1rem 0;
}
#searchInput{
  width: 75%;
}
.searchBtn{
  width: 23%;
}

.search-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

}
.button-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.button-container #c-item-new{
  width: 75%;
}
.dashboard-button-container{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.dashboard-button-container button{
  width: 100%;
  margin-bottom: 5px;
}

/* Filter section styles */
#c-item-form{
  margin-top: 2rem;

}
#tagFilter{
  height: auto;
}
/* General Table Styling */
#c-item-table {
  min-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  table-layout: auto; /* Let the table adjust based on content */
}

#c-item-table th, #c-item-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  word-wrap: break-word;
}
#c-item-table tbody tr {
  border: 2px solid #000000;
}

#c-item-table th {
  background-color: #f2f2f2;
}

#c-item-table td {
  word-wrap: break-word;
  white-space: normal;
}

#c-item-table td.item-type {
  max-width: 100px;
}
#c-item-table td span{
  padding: .5rem;
}

/* Mobile-friendly table */
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px;
  }

  #c-item-table{
    max-width: 100%;
  }
  .dt-type-numeric, .dt-type-date{
    font-size: 200%;
  }
  .sorting_1{
    font-size: 250%;
  }
  /* #c-item-table td{
    font-size: 150%;
  } */
  #c-item-table {
    table-layout: fixed;
  }

  #c-item-table thead {
    display: none;
  }

  #c-item-table, #c-item-table tbody, #c-item-table tr, #c-item-table td {
    display: block;
    width: 100%;
  }

  #c-item-table tr {
    margin-bottom: 15px;
  }

  #c-item-table td {
    display: block;
    padding: 10px;
    text-align: center;
  }

  #c-item-table td::before {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

/* Header Styling */
#header {
  width: 100%;
  height: 60px;
  background: #333;
  color: gainsboro;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1180;
}

#menuToggle {
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 10px;
  padding-top: 10px;
  background: gainsboro;
  color: #222;
}

#logo {
  font-size: 35px;
  line-height: 60px;
  padding: 0;
  margin-right: 10px;
  max-width: 60%;
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
}

#right-nav, #right-tools {
  width: auto;
  height: 100%;
  position: relative;
  background-color: #333;
}
#right-nav .fa-fw, #right-tools .fa-fw {
  line-height: 1.3;
}

#userPanel{
  padding: .5rem;
  background-color: #333;
}

#userArea {
  position: relative;
  display: inline-block;
  height: 100%;
  margin-bottom: -1rem;
}
.header-button-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.dashboard-btn{
  background-image: linear-gradient(to bottom,#c9b128 0,#df5121 100%)!important;
  border-color: #c9b128!important;
  width: 50%;
  height: inherit;
  font-size: 150%;
  padding: 10px 0 10px 0!important;
}

/* Sidebar Styling */
#sidebar {
  min-width: 60px;
  width: auto;
  max-width: 265px;
  height: 100%;
  background: #222;
  color: gainsboro;
  padding: 60px 0px 0px;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1170;
}

#sidebar #menuList {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  padding: 15px 0;
  padding-right: 15px;
}

#content {
  padding-top: 5rem;
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #edededed;
}
.content-panel{
  min-height: 100vh;
}
#c-item-list{
  padding: 0 1rem 0 1rem;
}
#menuList .title{
  font-size: 200%;
}


/* Footer Styling */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  background: #333;
  color: white;
}

/* Button Styling */
.delete-btn {
  background-color: #ff4c4c;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #ff1c1c;
}

.edit-btn {
  background-color: #5e4cff;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #3b26fe;
}

.add-item-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.submit-btn {
  width: 50%;
}

/* Highlight categories in different colors */
.item-type {
  margin-top: 5px;
}

.item-type.chicken {
  background-color: tomato;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.item-type.beef {
  background-color: saddlebrown;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.item-type.vegetable {
  background-color: green;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.item-type.fruit {
  background-color: orange;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.item-type.ingredient {
  background-color: darksalmon;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.item-type.dessert {
  background-color: black;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.item-type.lunch {
  background-color: blueviolet;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.item-type.dairy {
  background-color: lightskyblue;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.item-type.other {
  background-color: gray;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

/* Dashboard Styles */
#c-dashboard{
  padding: 0 1rem 0 1rem;
}



.summary-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  flex: 1;
  min-width: 220px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
}

.card h4 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.card i {
  font-size: 3rem;
  margin-bottom: 10px;
}
.card p {
  font-size: 2.5rem;
}
.card svg{
  width: 100px;
}

.section-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.item-list {
  margin-top: 20px;
}

.item-list table {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-list th, .item-list td {
  padding: 12px;
  text-align: left;
}

.item-list th {
  background-color: #007bff;
  color: #fff;
}

/* Chart Styles */
.chart-container {
  margin: 40px auto;
  max-width: 500px;
  width: 50%;
}


.inventory-breakdown {
  text-align: center;
}

.total-items-display {
  margin-bottom: 10px;
}
.total-items-display h4 {
  font-size: 150%;
}

.chart-container-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 #inventoryChart {
  max-width: 30vw;
   max-height: 30vw; 
} 

.chart-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-left: 20px; */
}

.chart-labels div {
  margin-bottom: 8px;
}

.chart-label {
  display: flex;
  align-items: center;
}

.chart-color-box {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}




/* Media Queries for Large Devices */
@media only screen and (min-width: 768px) {
  .chart-label span{
    font-size: 200%;
  }
  .total-items-display h4 {
    font-size: 200%;
  }
}



/* Media Queries for Smaller Devices */
@media only screen and (max-width: 767px) {
  .nav-title {
    font-size: 60%!important;
  }

  .summary-cards {
    flex-direction: column;
}

.item-list th, .item-list td {
    font-size: 0.9rem;
}
button{
  font-size: 12px!important;
  padding: 10px 8px 10px 8px!important;
}
.inventory-breakdown{
  flex-direction: column-reverse;
}

#inventoryChart {
  max-width: 50%;
  max-height: auto;
} 

  
}


@media only screen and (max-width: 420px) {
  .nav-title {
    font-size: 50%!important;
  }


  
}

